@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #a2c8f9;
    min-height: 100vh;
    /* flexbox */
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    padding-top: 1em;
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
}

.container {
    background-color: #F7F5F2;
    border-radius: 2em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 2em;
    margin-bottom: 10em;
    min-height: 43.05em;
    width: 100em;
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-top {
    margin-bottom: 2em;
}

.singleton-span {
    margin-left: 7em;
}

.tei-span {

}

.active {
    text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
}

.container-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.content-left {
    width: 17em;
    align-self: stretch;
    margin-right: 2em;
    position: relative;
    bottom: 3em;
}

.content-right {
    align-self: stretch;
    margin-left: 2em;
}

.middle-dividor {
    height:30em;
    width:5px;
    background-color: #a2c8f9;
}

.treelist {
    margin-bottom: 1em;
    height: 30em;
    overflow: auto;
}

.component-wrapper {
    width: 52.5em;
}

.loading {
    padding: 2em;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0.5em;
}

.program-selected {
    margin-top: 0.5em;
    margin-left: 1em;
}

.datepicker {
    margin-right: 0.5em;
}
