@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #a2c8f9;
    min-height: 100vh;
    /* flexbox */
    flex-flow: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    padding-top: 1em;
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
}

.container {
    background-color: #F7F5F2;
    border-radius: 2em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 2em;
    margin-bottom: 10em;
    min-height: 45em;
    width: 80em;
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-top {
    margin-bottom: 2em;
}

.singleton-span {
    margin-left: 7em;
}

.tei-span {

}

.active {
    text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
}

.container-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content-left {
    width: 18em;
    align-self: stretch;
    margin-right: 2em;
    position: relative;
    bottom: 2em;
}

.content-right {
    align-self: stretch;
    margin-left: 2em;
}

.middle-dividor {
    height:20em;
    width:5px;
    background-color: #FFFAEC;
}

.treelist {
    margin-bottom: 1em;
    height: 31em;
    overflow: auto;
}

.component-wrapper {
    width: 50em;
}

.loading {
    padding: 2em;
}

.form {
    background-color: #DDD;
    flex: 1;
    padding: 3rem;
}

.form div {
    display: flex;
}

.form label {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
}

.form span {
    flex: 1;
}

.form input {
    flex: 2;
    padding: 1rem;
    border: 0;
    font-size: 1rem;
}

.form button {
    width: 100%;
    background-color: orange;
    border: 0;
    padding: 1rem;
}
