* {
    box-sizing: border-box;
}

body {
    padding: 10em;
    margin: 0;
    font-family: monospace;
}

p {
    -webkit-margin-before: 0em;
    margin-before: 0em;
}

.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-content {
    flex: 1 0 0;
    align-self: stretch;
}

.right-content {
    flex: 1 0 0;
}

.treelist {
    width: 20em;
}

.container {
    padding-left: 5em;
}

.form {
    background-color: #DDD;
    flex: 1;
    padding: 3rem;
}

.form div {
    display: flex;
}

.form label {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
}

.form span {
    flex: 1;
}

.form input {
    flex: 2;
    padding: 1rem;
    border: 0;
    font-size: 1rem;
}

.form button {
    width: 100%;
    background-color: orange;
    border: 0;
    padding: 1rem;
}
